@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

https://www.c-sharpcorner.com/article/asp-net-core-identity-tables-customization-with-visual-studio-2017/

https://stackoverflow.com/questions/43562150/asp-net-core-1-1-getting-all-users-and-their-roles

<p>https://gldraphael.com/blog/getting-started-with-identity-in-asp-net-core/</p>
<p>https://www.codeproject.com/Articles/1237650/ASP-NET-Core-User-Role-Base-Dynamic-Menu-Managemen</p>
<p>https://www.youtube.com/watch?v=GS55DDE3VL0</p>
<p>https://timschreiber.com/2018/05/08/aspnet-core-identity-with-patterns-3/</p>
<p>https://medium.com/nativoplus/asp-net-core-identity-3-0-6018fc151b4</p>

google : asp.net core identity users
<br />
google : asp.net core identityuser model class controller

google : asp net core identity usermanager get all users

google : asp net core identity usermanager get all users site:forums.asp.net

google : asp.net core identity user Applicationuser model

https://www.dotnetcurry.com/aspnet-mvc/1229/user-authentication-aspnet-mvc-6-identity
<br />
http://www.binaryintellect.net/articles/b957238b-e2dd-4401-bfd7-f0b8d984786d.aspx

https://stackoverflow.com/posts/26357676/edit

https://stackoverflow.com/questions/51004516/net-core-2-1-identity-get-all-users-with-their-associated-roles/51005445

https://www.asp.net/community

https://forums.asp.net/t/2083257.aspx?Get+a+table+with+all+users+and+their+roles

https://forums.asp.net/t/2033844.aspx?get+all+user+in+a+role

https://adrientorris.github.io/aspnet-core/identity/extend-user-model.html

https://gldraphael.com/blog/getting-started-with-identity-in-asp-net-core/

https://www.tektutorialshub.com/asp-net-core-identity-tutorial/

https://korzh.com/blogs/net-tricks/aspnet-identity-store-user-data-in-claims

https://github.com/timschreiber/ASP.NET-Core-Identity-Example

https://github.com/aspnet/Identity/issues/1361

https://forums.asp.net/t/2009580.aspx?how+can+i+get+all+users+from+AspNetUsers+in+Dropdown+

https://forums.asp.net/t/2129247.aspx?Get+all+users+with+a+specific+role+in+ASP+NET+Core+2+0

https://forums.asp.net/t/2068468.aspx?ASP+NET+identity+use+email+instead+of+user+name

https://patrickdesjardins.com/blog/asp-net-mvc-login-with-email-instead-of-username-with-identity

https://www.codeproject.com/Articles/796940/Understanding-Using-and-Customizing-ASP-NET-Identi

https://forums.asp.net/t/2147284.aspx?Deactivate+User+with+Asp+net+Identity

https://forums.asp.net/t/2110059.aspx?Create+roles+and+give+permission+for+the+users+using+asp+net+core+with+entity+framework+core

https://forums.asp.net/t/2127937.aspx?how+to+use+aspnetuser+primary+key+in+a+custom+table

https://forums.asp.net/t/1957500.aspx?How+to+access+custom+Identity+or+ApplicationUser+properties+