@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>https://gldraphael.com/blog/getting-started-with-identity-in-asp-net-core/</p>
<p>https://www.codeproject.com/Articles/1237650/ASP-NET-Core-User-Role-Base-Dynamic-Menu-Managemen</p>
<p>https://www.youtube.com/watch?v=GS55DDE3VL0</p>
